/* blog/static/blog/base.css */



/*
   * Style the <a> tags. Have a consistent colour for both visited
   * and unvisited links. Show underline on hover only.
   */
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the top nav */
#top-nav {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

#top-nav ul {
  margin: 0;
  padding: 0;
}

#top-nav li {
  margin-top: 1rem;
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}

#top-nav a {
  text-decoration: none;
  font-weight: bold;
}

/* Style the main content */
#main-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  /* The grid has 2 columns. 1 with auto width, the other is 200px wide */
  grid-template-columns: auto 200px;
}

#headerpic {
  height: 100px;
  width: 100px;
}

/* Post preview */
.post-preview {
  border-bottom: 1px #eee solid;
}
.post-preview h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-preview time {
  color: #999;
}

.post-preview section {
  margin: 1rem 0;
}

/* Post detail article */
#post-detail-article h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#post-detail-article .author {
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

#post-detail-article .published {
  color: #999;
  font-size: 0.9rem;
}

#post-detail-article .content {
  margin: 2rem 0;
}

/* post detail topics */
.topic {
  font-size: 85%;
}

/* Messages */
.django-messages {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  list-style: none;
}

.django-messages div {
  padding: 1rem;
}

.django-messages .success {
  background: #bdfcb3;
  color: #355430;
}

/* Comments */
.comments {
  border-top: 1px solid #666;
  font-size: 0.8rem;
  margin-top: 5rem;
}

.comments .by-line {
  color: #666;
  font-weight: 600;
}

.likedislike {
  height: 20px;
}

.like, .dislike {
  color: black;
}

.comment {
  border-top: 1px solid #666;
  margin-bottom: 10px;
}

.bannerimage {
  width: 400px;
}